<p id="notice"><%= notice %></p>

<div align="center">
  <h1>Do. Or do not. There is no try. - Yoda, the master Jedi.</h1>
  <img src="01.jpg" alt="Yoda" align="middle">
</div>

 <div align="center">
    <br><br>
    <h2>Здравствуйте, я Мастер Йода.</h2>
    <h2>Добро пожаловать на мой секретный сайт</h2>
</div>

<div align="center">
    <p style="text-align: center"><a href="cv.html"><h2>Резюме</h2></a>
    <a href="video.html"><h2>Видео</h2></a>
    </p>
</div>

<div align="center">
    <a href="http://starwars.wikia.com/wiki/Yoda"><img src="wiki1.png" alt="wiki" align="middle"></a>
</div>



<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<br>

